In [7]:
import pandas as pd
import numpy as np

In [8]:
treatments = pd.read_csv('treatments.csv')
treatments

                 treatmenta  treatmentb  treatmentc
0    John Smith         NaN           2           0
1      Jane Doe        16.0          11           3
2  Mary Johnson         3.0           1           4