In [1]:
import pandas as pd
import env
import seaborn as sns

### 1. Reading in from seaborn dataset

In [4]:
df_iris = sns.load_dataset("iris")

- Print the first three rows of the data set

In [8]:
df_iris
print(df_iris.iloc[:3])

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

- Print the number of rows and columns (shape)

In [13]:
print(f'The number of rows are {df_iris.shape[0]}, The number of columns are {df_iris.shape[1]}')

The number of rows are 150, The number of columns are 5

- print the column names

In [20]:
print(f'{list(df_iris.columns)}')

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

- print the data type of each column

In [23]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

- print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [25]:
df_iris.describe()
# I would not scale this data

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000