In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import logistic_regression_util


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix


import warnings
warnings.filterwarnings("ignore")

import acquire
import prepare

In [2]:
df = acquire.get_titanic_data()

In [3]:
df

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [4]:
df.dropna(inplace=True)

In [5]:
test, train = prepare.prep_titanic(df)

In [6]:
train.head()

,survived,pclass,sex,age,sibsp,parch,fare,embark_town,alone,encoded_embark_town
806,0,1,male,0.543379,0,0,0.000000,Southampton,1,2
516,1,2,female,0.472032,0,0,0.020495,Southampton,1,2
248,1,1,male,0.514840,1,1,0.102579,Southampton,0,2
11,1,1,female,0.814498,0,0,0.051822,Southampton,1,2
853,1,1,female,0.215183,0,1,0.076904,Southampton,0,2

In [7]:
X_train = train[['fare', 'pclass']]
y_train = train.survived
X_test = test[['fare', 'pclass']]
y_test = test.survived

In [8]:
logit = LogisticRegression(random_state = 123)

In [9]:
logit.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=123, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [10]:
y_pred = logit.predict(X_train)

In [11]:
model_df = train[['survived']]

In [12]:
model_df['yhat'] = logit.predict(X_train)
y = logit.predict_proba(X_train)[:, 1]
model_df['probs'] = y
model_df.head()

     survived  yhat     probs
806         0     1  0.772498
516         1     1  0.783849
248         1     1  0.775639
11          1     1  0.774089
853         1     1  0.774856

In [13]:
model_df.head()

     survived  yhat     probs
806         0     1  0.772498
516         1     1  0.783849
248         1     1  0.775639
11          1     1  0.774089
853         1     1  0.774856

In [14]:
print('Accuracy of Logistic Regression classifier on training set: {:.2f}'
     .format(logit.score(X_train, y_train)))

Accuracy of Logistic Regression classifier on training set: 0.81

In [26]:
X = train[['fare', 'pclass','age']]
y = train.survived

In [27]:
logit = LogisticRegression()

In [28]:
logit.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [29]:
y_pred = logit.predict(X)

In [30]:
model_df['model2'] = logit.predict(X)

In [31]:
model_df

     survived  yhat     probs  model2
806         0     1  0.772498       1
516         1     1  0.783849       1
248         1     1  0.775639       1
11          1     1  0.774089       1
853         1     1  0.774856       1
539         1     1  0.775457       1
394         1     1  0.794544       1
118         0     1  0.787023       1
473         1     1  0.784039       1
430         1     1  0.774089       1
218         1     1  0.777048       1
779         1     1  0.784943       1
456         0     1  0.774089       1
251         0     1  0.794196       1
504         1     1  0.777652       1
621         1     1  0.775639       1
345         1     1  0.783993       1
356         1     1  0.775785       1
151         1     1  0.776474       1
737         1     1  0.801801       1
759         1     1  0.777652       1
632         1     1  0.774325       1
710         1     1  0.775458       1
630         1     1  0.774295       1
581         1     1  0.779090       1
292         0     1  0.783986       1
195         1     1  0.781179       1
857         1     1  0.774089       1
486         1     1  0.777859       1
724         1     1  0.775672       1
701         1     1  0.774073       1
193         1     1  0.784745       1
137         0     1  0.775672       1
412         1     1  0.777859       1
796         1     1  0.774052       1
297         0     1  0.781473       1
325         1     1  0.780542       1

In [32]:
# print('Accuracy of model 1 on training set: {:.2f}'
#      .format(logit.score(X_train, y_train)))
print('Accuracy of model 2 on training set: {:.2f}'
     .format(logit.score(X, y)))

Accuracy of model 2 on training set: 0.81