In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import env
import warnings
warnings.filterwarnings("ignore")
from wrangle import wrangle_telco
import split_scale

In [5]:
df = wrangle_telco()
df.head()

     customer_id  monthly_charges  tenure  total_charges contract_type
5348  0013-SMEOE           109.70      71        7904.25      Two year
5349  0014-BMAQU            84.65      63        5377.80      Two year
5350  0016-QLJIS            90.45      65        5957.90      Two year
5351  0017-DINOC            45.20      54        2460.55      Two year
5352  0017-IUDMW           116.80      72        8456.75      Two year

In [9]:
train, test = split_scale.split_data(df)
train.head(1), test.head(1)

(     customer_id  monthly_charges  tenure  total_charges contract_type
 5663  1971-DTCZB            90.95      72         6468.6      Two year,
      customer_id  monthly_charges  tenure  total_charges contract_type
 5653  1927-QEWMY             20.5      72        1502.25      Two year)

In [15]:
X_train, X_test, y_train, y_test = split_scale.create_train_test_variables(df)

X_train.head(1), X_test.head(1)

(      tenure
 5663      72,       tenure
 5653      72)

In [16]:
scaler, X_train_scaled, X_test_scaled = split_scale.standard_scaler(X_train, X_test)

In [3]:
def plot_variable_pairs(df, hue=None):
    """Scatterplot and regression line with Kernel Density Estimation kde to estimate the probability density function"""
    
    g = sns.pairplot(df, hue=hue, kind="reg", corner=True, diag_kind="kde", plot_kws={'line_kws':{'color':'red'}, 'scatter_kws': {'alpha': 0.7}})
    g.fig.suptitle("Scatterplot with Regression for Continuous Variables")
    plt.show()

In [19]:
df_plus_train = split_scale.merge_standard_scaled_to_original(df)
df_plus_train

,customer_id,monthly_charges,tenure,total_charges,contract_type,tenure_scaled
5348,0013-SMEOE,109.70,71,7904.25,Two year,0.785844
5349,0014-BMAQU,84.65,63,5377.80,Two year,0.334475
5350,0016-QLJIS,90.45,65,5957.90,Two year,0.447317
5351,0017-DINOC,45.20,54,2460.55,Two year,-0.173315
5352,0017-IUDMW,116.80,72,8456.75,Two year,0.842265
...,...,...,...,...,...,...
7038,9964-WBQDJ,24.40,71,1725.40,Two year,0.785844
7039,9972-EWRJS,19.25,67,1372.90,Two year,0.560159
7040,9975-GPKZU,19.75,46,856.50,Two year,-0.624684
7041,9993-LHIEB,67.85,67,4627.65,Two year,0.560159
7042,9995-HOTOH,59.00,63,3707.60,Two year,0.334475