In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pydataset
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.feature_selection import SelectKBest, f_regression
import warnings
warnings.filterwarnings("ignore")

import env
import wrangle
import split_scale

> 1. Load the tips dataset.

In [2]:
tips = pydataset.data('tips')

>> a. Create a column named tip_percentage. This should be the tip amount divided by the total bill.

In [3]:
tips['tip_percentage'] = (tips.tip)/(tips.total_bill)
tips = tips.rename(columns={'size': 'party_size'})
tips

     total_bill   tip     sex smoker   day    time  party_size  tip_percentage
1         16.99  1.01  Female     No   Sun  Dinner           2        0.059447
2         10.34  1.66    Male     No   Sun  Dinner           3        0.160542
3         21.01  3.50    Male     No   Sun  Dinner           3        0.166587
4         23.68  3.31    Male     No   Sun  Dinner           2        0.139780
5         24.59  3.61  Female     No   Sun  Dinner           4        0.146808
..          ...   ...     ...    ...   ...     ...         ...             ...
240       29.03  5.92    Male     No   Sat  Dinner           3        0.203927
241       27.18  2.00  Female    Yes   Sat  Dinner           2        0.073584
242       22.67  2.00    Male    Yes   Sat  Dinner           2        0.088222
243       17.82  1.75    Male     No   Sat  Dinner           2        0.098204
244       18.78  3.00  Female     No  Thur  Dinner           2        0.159744

[244 rows x 8 columns]

>> b. Create a column named price_per_person. This should be the total bill divided by the party size.

In [4]:
tips['price_per_person'] = (tips.total_bill)/(tips.party_size)
tips

,total_bill,tip,sex,smoker,day,time,party_size,tip_percentage,price_per_person
1,16.99,1.01,Female,No,Sun,Dinner,2,0.059447,8.495000
2,10.34,1.66,Male,No,Sun,Dinner,3,0.160542,3.446667
3,21.01,3.50,Male,No,Sun,Dinner,3,0.166587,7.003333
4,23.68,3.31,Male,No,Sun,Dinner,2,0.139780,11.840000
5,24.59,3.61,Female,No,Sun,Dinner,4,0.146808,6.147500
...,...,...,...,...,...,...,...,...,...
240,29.03,5.92,Male,No,Sat,Dinner,3,0.203927,9.676667
241,27.18,2.00,Female,Yes,Sat,Dinner,2,0.073584,13.590000
242,22.67,2.00,Male,Yes,Sat,Dinner,2,0.088222,11.335000
243,17.82,1.75,Male,No,Sat,Dinner,2,0.098204,8.910000
244,18.78,3.00,Female,No,Thur,Dinner,2,0.159744,9.390000

>> c. Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?

-The most important features for predicting the tip amount would be the size of the table, the time of day they eat, the day of the week, and the total bill

>> d. Use all the other numeric features to predict tip amount. Use select k best and recursive feature elimination to select the top 2 features. What are they?

In [5]:
train, test = split_scale.split_data(tips)
train.head()

,total_bill,tip,sex,smoker,day,time,party_size,tip_percentage,price_per_person
55,25.56,4.34,Male,No,Sun,Dinner,4,0.169797,6.390000
161,21.50,3.50,Male,No,Sun,Dinner,4,0.162791,5.375000
142,34.30,6.70,Male,No,Thur,Lunch,6,0.195335,5.716667
73,26.86,3.14,Female,Yes,Sat,Dinner,2,0.116902,13.430000
144,27.05,5.00,Female,No,Thur,Lunch,6,0.184843,4.508333

In [6]:
test.head()

,total_bill,tip,sex,smoker,day,time,party_size,tip_percentage,price_per_person
113,38.07,4.00,Male,No,Sun,Dinner,3,0.105070,12.690000
20,20.65,3.35,Male,No,Sat,Dinner,3,0.162228,6.883333
188,30.46,2.00,Male,Yes,Sun,Dinner,5,0.065660,6.092000
170,10.63,2.00,Female,Yes,Sat,Dinner,2,0.188147,5.315000
32,18.35,2.50,Male,No,Sat,Dinner,4,0.136240,4.587500

In [7]:
X_train = train[['total_bill', 'party_size', 'tip_percentage', 'price_per_person']]
X_test = test[['total_bill', 'party_size','tip_percentage', 'price_per_person']]
y_train = [['tip']]
y_test = [['tip']]

In [8]:
scaler, train, test = split_scale.standard_scaler(X_train, X_test)

In [9]:
train.head()

     total_bill  party_size  tip_percentage  price_per_person
55     0.678689    1.500533        0.124669         -0.499396
161    0.216395    1.500533        0.018328         -0.839393
142    1.673876    3.580817        0.512319         -0.724944
73     0.826715   -0.579751       -0.678205          1.858813
144    0.848349    3.580817        0.353056         -1.129703

In [10]:
test.head()

     total_bill  party_size  tip_percentage  price_per_person
113    2.103149    0.460391       -0.857814          1.610933
20     0.119609    0.460391        0.009781         -0.334142
188    1.236631    2.540675       -1.456010         -0.599218
170   -1.021326   -0.579751        0.403205         -0.859492
32    -0.142282    1.500533       -0.384685         -1.103184

In [15]:
y_train.head()

AttributeError: 'list' object has no attribute 'head'

- Initialize the f_selector object, which defines the test for scoring the features and the number of features we want to keep, i.e. k)

In [11]:
f_selector = SelectKBest(f_regression, k=2)

In [12]:
f_selector.fit(X_train, y_train)

ValueError: Found input variables with inconsistent numbers of samples: [183, 1]

>> e. Use all the other numeric features to predict tip percentage. Use select k best and recursive feature elimination to select the top 2 features. What are they?

>> f. Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features your are selecting?

> 2. Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

> 3. Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

> 4. Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).