In [6]:
import pandas as pd
import numpy as np
import pydataset
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.feature_selection import SelectKBest, f_regression, RFE
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings("ignore")

import env
import wrangle
import split_scale
import feature_engineering

In [2]:
tips = pydataset.data('tips')

In [3]:
tips['tip_percentage'] = (tips.tip)/(tips.total_bill)
tips = tips.rename(columns={'size': 'party_size'})
tips

     total_bill   tip     sex smoker   day    time  party_size  tip_percentage
1         16.99  1.01  Female     No   Sun  Dinner           2        0.059447
2         10.34  1.66    Male     No   Sun  Dinner           3        0.160542
3         21.01  3.50    Male     No   Sun  Dinner           3        0.166587
4         23.68  3.31    Male     No   Sun  Dinner           2        0.139780
5         24.59  3.61  Female     No   Sun  Dinner           4        0.146808
..          ...   ...     ...    ...   ...     ...         ...             ...
240       29.03  5.92    Male     No   Sat  Dinner           3        0.203927
241       27.18  2.00  Female    Yes   Sat  Dinner           2        0.073584
242       22.67  2.00    Male    Yes   Sat  Dinner           2        0.088222
243       17.82  1.75    Male     No   Sat  Dinner           2        0.098204
244       18.78  3.00  Female     No  Thur  Dinner           2        0.159744

[244 rows x 8 columns]

In [4]:
tips['price_per_person'] = (tips.total_bill)/(tips.party_size)
tips

,total_bill,tip,sex,smoker,day,time,party_size,tip_percentage,price_per_person
1,16.99,1.01,Female,No,Sun,Dinner,2,0.059447,8.495000
2,10.34,1.66,Male,No,Sun,Dinner,3,0.160542,3.446667
3,21.01,3.50,Male,No,Sun,Dinner,3,0.166587,7.003333
4,23.68,3.31,Male,No,Sun,Dinner,2,0.139780,11.840000
5,24.59,3.61,Female,No,Sun,Dinner,4,0.146808,6.147500
...,...,...,...,...,...,...,...,...,...
240,29.03,5.92,Male,No,Sat,Dinner,3,0.203927,9.676667
241,27.18,2.00,Female,Yes,Sat,Dinner,2,0.073584,13.590000
242,22.67,2.00,Male,Yes,Sat,Dinner,2,0.088222,11.335000
243,17.82,1.75,Male,No,Sat,Dinner,2,0.098204,8.910000
244,18.78,3.00,Female,No,Thur,Dinner,2,0.159744,9.390000

In [5]:
X_train = tips[['total_bill', 'party_size', 'tip_percentage', 'price_per_person']]
y_train = tips[['tip']]

In [9]:
answer = feature_engineering.select_kbest(X_train, y_train, 3)
answer

['total_bill', 'party_size', 'price_per_person']

In [10]:
answer2 = feature_engineering.rfe(X_train, y_train, 3)

AttributeError: module 'feature_engineering' has no attribute 'rfe'