# Dataframe Manipulation Warmup

In [41]:
import numpy as np
import pandas as pd
import math

np.random.seed(406)

n = 5000
df = pd.DataFrame({
    'favorite_animal': np.random.choice(['cat', 'dog', 'frog', 'lemur', 'panda'], n),
    'favorite_vegetable': np.random.choice(['brussel sprouts', 'potato', 'squash'], n),
    'favorite_fruit': np.random.choice(['banana', 'apple', 'blueberries'], n),
    'wears_glasses': np.random.choice(['yes', 'no'], n),
    'netflix_consumption': np.random.normal(10, 2, n),
    'open_browser_tabs': np.random.randint(2, 90, n),
})

- What is the highest amount of netflix consumption? `17.535`
- How many people wear glasses? What percentage of people is this? `2555`, `.511`
- How many people's favorite animal is a dog? `1002`
- What is the most common favorite animal? `lemur`
- What is the average netflix consumption for people that prefer brussel
  sprouts? `10.008`
- What is the most common favorite fruit for people who wear glasses and have
  more than 40 open browser tabs? `blueberries`
- What percentage of people have a netflix consumption lower than 7? `.0716`
- What is the average netflix consumption for people with less than 30 open
  browser tabs? `9.91935`
- How many people *don't* wear glasses, have a favorite animal of a panda, have
  a favorite fruit of blueberries, and have more than 60 open browser tabs? What
  is the median netflix consumption for this group? What is the most common
  favorite vegetable for this group? `46`, `10.455`, `potato`
- What is the least popular combination of favorite fruit and vegetable? `apple` and `potato`
- Which combination of favorite animal and wearing glasses has the highest average
  netflix consumption? people that wear glasses and prefer pandas
- **Bonus**: for each of the above questions, what kind of visualization would
  be the most effective in conveying your answer?

In [2]:
# - What is the highest amount of netflix consumption? `17.535`
df.netflix_consumption.max()

17.534818515438925

In [3]:
# How many people wear glasses? What percentage of people is this? 2555, .511
filt = df['wears_glasses'] == 'yes'
df[filt].wears_glasses.shape[0], (df[filt].wears_glasses.shape[0])/df.shape[0]

(2555, 0.511)

In [4]:
# How many people's favorite animal is a dog? 1002
# What is the most common favorite animal? lemur
df.favorite_animal.value_counts()

lemur    1028
frog     1015
dog      1002
cat       980
panda     975
Name: favorite_animal, dtype: int64

In [5]:
# What is the average netflix consumption for people that prefer brussel sprouts? 10.008
df.head()
mask = df['favorite_vegetable'] == 'brussel sprouts'
df[mask].netflix_consumption.mean()

10.00847154798366

In [6]:
# What is the most common favorite fruit for people who wear glasses 
# and have more than 40 open browser tabs? blueberries
newdf = df[filt]
mask2 = newdf['open_browser_tabs'] > 40
open_more_than_40 = newdf[mask2]
open_more_than_40.favorite_fruit.value_counts()

blueberries    498
apple          477
banana         472
Name: favorite_fruit, dtype: int64

In [7]:
# What percentage of people have a netflix consumption lower than 7? .0716
less_than_seven = df.netflix_consumption < 7
(less_than_seven.sum())/df.shape[0]

0.0716

In [8]:
# What is the average netflix consumption for people 
# with less than 30 open browser tabs? 9.91935

tabs = df['open_browser_tabs'] < 30
df[tabs].netflix_consumption.mean()

9.91935736918227

In [40]:
# # How many people don't wear glasses, have a favorite animal of a panda, 
# have a favorite fruit of blueberries, and have more than 60 open browser tabs? 
# What is the median netflix consumption for this group? What is the most common 

no_glasses = df['wears_glasses'] == 'no'
number1 = df[no_glasses]
fav_animal = number1['favorite_animal'] == 'panda'
number2 = number1[fav_animal]
fav_fruit = number2['favorite_fruit'] == 'blueberries'
number3 = number2[fav_fruit]
how_many = (number3.open_browser_tabs>60).sum()

how_many

46

In [39]:
number3.favorite_vegetable.value_counts()

potato             56
squash             46
brussel sprouts    45
Name: favorite_vegetable, dtype: int64

In [47]:
number3.netflix_consumption.sort_values().median()

9.99312415187587

In [66]:
# What is the least popular combination of favorite fruit and vegetable? apple and potato
columns = ['favorite_fruit', 'favorite_vegetable']
two = df[columns]
pd.crosstab(two.favorite_fruit, two.favorite_vegetable)

favorite_vegetable  brussel sprouts  potato  squash
favorite_fruit
apple                           565     512     555
banana                          576     570     524
blueberries                     555     560     583

In [70]:
# Which combination of favorite animal and wearing glasses has the highest average netflix consumption? 
# people that wear glasses and prefer pandas

has_glasses = df['wears_glasses'] == 'yes'
last = df[has_glasses]

,favorite_animal,favorite_vegetable,favorite_fruit,wears_glasses,netflix_consumption,open_browser_tabs
0,lemur,potato,apple,yes,8.313351,44
1,panda,potato,apple,yes,11.801073,10
2,cat,squash,blueberries,yes,10.105141,35
4,dog,brussel sprouts,apple,yes,6.732698,73
6,frog,potato,banana,yes,14.849172,4
...,...,...,...,...,...,...
4994,frog,squash,banana,yes,6.992568,55
4995,frog,potato,blueberries,yes,9.992337,59
4996,frog,potato,apple,yes,8.916902,46
4998,lemur,squash,blueberries,yes,12.720892,50
4999,dog,potato,banana,yes,12.890119,53